	
		<ul class="position-list bg-w">
			<!-- <li class='item'>
				<img class='f-l logo' src="image/company-3.png" alt="">
				<h3 class='title'>销售</h3>
				<p class='text'>
					千度上海 互联网1 <br>
					2016-06-01 11:05
				</p>
			</li> -->
			<li ui-sref="position({id:item.id})" ng-repeat='item in data' class="item p-r">
				<img ng-src="{{item.imageUrl}}" alt="" class="f-l logo">
				<h3 class="title" ng-bind="item.job"></h3>
				<p class='text' ng-bind="item.companyName+'['+item.cityName+']'+item.industryName"></p>
				<p class='text'ng-bind="item.date"></p>
				<span ng-if="isFavorite" ng-click="$event.stopPropagation();select(item)" class='p-a icon {{item.select?"star-active":"star"}}'></span>
				<div class="clear"></div>
			</li>
		</ul>
	
